body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
 
header {
    background-color: #aa4b4b;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #444;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 0; 
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}